<!DOCTYPE html>
<html>
  <head>
    <title>Flaky RSpec Reporter Demo</title>
  </head>
  <body>
    <div class="container">
      <h1><%= @message %></h1>
      <p>This is a demo Rails 8 application for testing the Flaky RSpec Reporter.</p>
    </div>
  </body>
</html>